# SPDX-License-Identifier: MIT
#
# Copyright (C) 2022 - 2025 Advanced Micro Devices, Inc. All rights reserved.
#
#  top level - selecting the Platform settings, SoC(s) to be included
#               and IP device settings
# Nomemclature:
# * All config elements will be prefixed with "CONFIG_" by Kconfig
# * Elements with names that start with "HAVE_" are code inclusion control
#   elements. These will be used in the Meson build files to select which
#   code modules will be included.
#

mainmenu "AMD openSIL project"
comment "AMD open Silicon Initialization Library for Phoenix SoC"

source "Kconfig.Plat"
source "Kconfig.IP"
