# SPDX-License-Identifier: MIT
# Copyright (C) 2022 - 2025 Advanced Micro Devices, Inc. All rights reserved.
# Config for  openSIL
#
#  top level - selecting the Platform settings, SoC(s) to be included
#               and IP device settings
# Nomenclature:
# * All config elements will be prefixed with "CONFIG_" by Kconfig
# * Elements with names that start with "HAVE_" are code inclusion control
#   elements. These will be used in the Meson build files to select which
#   code modules will be included.
#

mainmenu "AMD openSIL project"
comment "                                                               "
comment " AMD open Silicon Initialization Library                       "
comment "                                                               "

source "Kconfig.Plat"
source "Kconfig.SoC"
source "Kconfig.IP"

config HAVE_EXAMPLE
    bool    "Include Example (XMP) Device"
    default n
