# SPDX-License-Identifier: MIT
# Copyright (C) 2023 - 2025 Advanced Micro Devices, Inc. All rights reserved.
# Config for xUSL/Sdxi/Common
#
#

# SDXI common variables:
comment ""
comment "IP SDXI Common - Controls that are common to all versions of the IP: SDXI"

# ------------------------------ Smart Data Cache Injection --------------------------
config SDXI_SMART_DATA_CACHE_INJECTION_ENABLE
    int  "Enable smart data cache injection feature [1/0]"
    default 0
    range 0 1
    help
        Enable or disable smart data cache injection
        feature using SDXI.
