# SPDX-License-Identifier: MIT
# Copyright (C) 2022 - 2025 Advanced Micro Devices, Inc. All rights reserved.
# Config for  xUSL/FCH/Common
#
# nothing at this level at this time
   comment " - - Under Construction - -"
   # Common elements
   source "xUSL/FCH/Common/FchCore/*/Kconfig"
